global-exclude *.pyc *.o

include README.rst
include CHANGES.md

include setup.cfg
include banzai/tests/coveragerc

recursive-include banzai *.pyx *.c *.h
recursive-include docs *

prune docs/_build
prune docs/api

include pyproject.toml
