# Development deployment values for banzai.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  repository: docker.lco.global/banzai
  tag: "1.3.5"
  pullPolicy: IfNotPresent

# Values for the OCS Ingester library, used by BANZAI.
ingester:
  apiRoot: http://archiveapi-dev.dev/
  s3Bucket: archivetest2.lco.global
  ingesterProcessName: banzai-dev
  opentsdbHostname: opentsdb.lco.gtn
  opentsdbPort: 80
  postProcessFiles: false
  noMetrics: true

# Values specific to the BANZAI pipeline
banzai:
  astrometryServiceUrl: http://astrometry.lco.gtn/catalog
  configdbUrl: http://configdb.lco.gtn/sites/
  observationPortalUrl: http://internal-observation-portal.lco.gtn/api/observations/
  useDifferentArchiveSources: true
  calibrateProposalId: calibrate
  banzaiWorkerLogLevel: debug
  rawDataApiRoot: http://archiveapi-internal.prod/
  fitsBroker: rabbitmq.lco.gtn
  fitsExchange: archived_fits
  queueName: banzai_dev_pipeline
  celeryTaskQueueName: banzai_imaging
  PhotometryCatalogURL: http://phot-catalog.lco.gtn/

# CronJob configuration to periodically update instrument table in BANZAI DB
instrumentTableCronjob:
  schedule: "*/5 * * * *"

useDockerizedDatabase: true
postgresql:
  postgresqlUsername: "banzai"
  postgresqlDatabase: "banzai"
  # pull password from postgresql-password in banzai-secrets
  existingSecret: "banzai-secrets"
  service:
    port: "5432"
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 1
      memory: 512Mi

useDockerizedRabbitMQ: true
rabbitmq:
  rabbitmq:
    username: "user"
    existingPasswordSecret: "banzai-secrets"
  vhost: ""
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 1
      memory: 1Gi
