{% extends "base.html" %}
{% block title %}Reprocess Dayobs{% endblock %}
{%block content%}

<div class="content-section">
<form class="" method="post">
  {{ form.hidden_tag() }}

  <fieldset class="form-group">
<div class="form-group">
{{ form.dayobs_start.label }}  {{form.dayobs_start}}
</div>

<div class="form-group">
{{ form.dayobs_end.label }}  {{form.dayobs_end}}
</div>

<div class="form-group">
{{ form.site.label }} {{form.site}}
</div>

<div class="form-group">
{{ form.instrument.label }} {{form.instrument}}
</div>
</fieldset>
<div class="form-group">
  {{form.submit(class="btn btn-outline-info")}}
</div>
</form>
</div>
{%endblock%}
